<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<!--  EUGENELAB SERVLET -->
    <servlet>
        <servlet-name>EugeneLabServlet</servlet-name>
        <servlet-class>org.cidarlab.eugenelab.servlet.EugeneLabServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EugeneLabServlet</servlet-name>
        <url-pattern>/EugeneLabServlet</url-pattern>
    </servlet-mapping>

<!--  AUTHENTICATION SERVLET -->
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>org.cidarlab.web.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
	<listener>
    	<listener-class>
      	org.apache.commons.fileupload.servlet.FileCleanerCleanup
    	</listener-class>
  	</listener>
  
</web-app>
