<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

<!--  EUGENELAB SERVLET -->
    <servlet>
        <servlet-name>EugeneLabServlet</servlet-name>
        <servlet-class>org.cidarlab.eugenelab.servlet.EugeneLabServlet</servlet-class>
        <init-param>
        	<param-name>TMP_IMAGE_DIRECTORY</param-name>
        	<param-value>tmp</param-value>
        </init-param>
        <init-param>
        	<param-name>USER_HOMES_DIRECTORY</param-name>
        	<param-value>/Users/ernstl/PostDoc/BU/Eugene/ecosystem/EugeneLab_Home/home</param-value>
        	<!--  param-value>/home/EugeneLab/home</param-value-->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EugeneLabServlet</servlet-name>
        <url-pattern>/EugeneLabServlet</url-pattern>
    </servlet-mapping>

<!--  AUTHENTICATION SERVLET -->
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>org.cidarlab.web.AuthenticationServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/AuthenticationServlet</url-pattern>
    </servlet-mapping>
 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
	<listener>
    	<listener-class>
      	org.apache.commons.fileupload.servlet.FileCleanerCleanup
    	</listener-class>
  	</listener>
  
</web-app>
